<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <style>
        body {
        background-color: lightblue
        }
        p {
            font-size: 24px;
        }
        body {
        color: #13294E
        }
    </style>
</head>
<body>
    <h1 style="font-family: Garamond, sans-serif;">О нас</h1>
    <p>
        Duende - это семейное дело. Это компания первоклассных строителей,
        которые делают всё быстро и качественно. Обращайтесь к нам - не пожалеете!
    </p>
    <button onclick="location.href='{% url 'main1' %}'">На главную</button>
</body>
</html>