<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Примеры работ</title>
    <style>
        .image-small {
            width: 200px;
            height: auto;
        }
        body {
            background-color: #D2B48C;
        }
        body {
        color: #4E3517
        }
    </style>
</head>
<body>
    <h1>Примеры работ</h1>
    <div>
        <img src="/static/images/1.jpg" style="width: auto; height: 200px;" alt="Пример работы 1">
        <img src="/static/images/4.jpg" style="width: auto; height: 200px;" alt="Пример работы 2">
        <img src="/static/images/5.jpg" style="width: auto; height: 200px;" alt="Пример работы 3">
        <img src="/static/images/2.jpg" style="width: auto; height: 200px;" alt="Пример работы 4">
        <img src="/static/images/6.jpg" style="width: auto; height: 200px;" alt="Пример работы 5">
        <img src="/static/images/7.jpg" style="width: auto; height: 200px;" alt="Пример работы 6">
        <img src="/static/images/3.jpg" style="width: auto; height: 200px;" alt="Пример работы 7">
    </div>
    <button onclick="location.href='{% url 'main1' %}'">На главную</button>
<button onclick="location.href='{% url 'about' %}'">Следующая страница</button>
</body>
</html>